body {
    background: none;
} 
html {
    background-color: #f0f0f0;
}
#clear {
    background: none;
    clear: both;
}
#container {
    background: none;
}
#text {
    color:#ff5733;
    font-family:'Caveat', cursive;
    background: none;

}

a {
    color: #ff5733;
}